/* Import */

@import url("https://fonts.googleapis.com/css?family=Roboto:300,300italic,400,400italic,700,700italic");    /* Google Font: Roboto */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400");                                     /* Google Font: Inter */
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css");                        /* Normalize for CSS reset */
@import url("https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css");                        /* Milligram CSS template */

@import './randers.css';    /* Custom Randers CSS */

/* Base CSS */
body
{
    background-color: #faf9f8; /* Brighter: #fafafa; Old: #f4f5f6; */
    height: 100vh;
    color: #4a535a;
}

main
{
    display: flex;
    justify-content: center;
    min-height: 100vh;
}

a
{
    font-weight: 400;
}

h2 {
    border-bottom: 1px solid #e1e1e1; /* Old: rgb(235, 235, 235); */
    color:#3c4349;
}

h2:not(:first-of-type), h3:not(:first-of-type), h4:not(:first-of-type), h5:not(:first-of-type), h6:not(:first-of-type)
{
    padding-top: 20px;
}

h3 {
    padding-top: 20px;
}

h2 ~ h3:first-of-type {
    padding-top: 0px!important;
}

/* Custom classes */

.fw-400 
{
    font-weight: 400;
}
.fc-red
{
    color: rgb(109, 46, 46);
}
.fc-green
{
    color: rgb(46, 109, 77);
}