/* Import */

@import url("https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic");  /* Google Font: Roboto */
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css");        /* Normalize for CSS reset */
@import url("https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css");        /* Milligram CSS template */

@import './randers.css';    /* Custom Randers CSS */

/* Base CSS */

body
{
    background-color: rgb(234, 243, 247);
    height: 100vh;
}
main
{
    display: flex;
    justify-content: center;
    min-height: 100vh;
}

h3 {
    padding-top: 20px;
}

h2 ~ h3:first-of-type {
    padding-top: 0px!important;
}