/* Randers design */ 
.randers-logo {
    background-image: url('https://www.randers.dk/static/logo.svg');
    filter: invert(46%) sepia(66%) saturate(3273%) hue-rotate(245deg) brightness(50%) contrast(83%);

    background-position: 15px 5px;
    background-size: 85%;
    background-repeat: no-repeat;

    width: 200px;
    height: 45px;
}
