/* Randers design */ 

.randers-logo {
    background-image: url('https://www.randers.dk/static/logo.svg');
    filter: brightness(0) saturate(100%) invert(20%) sepia(9%) saturate(7487%) hue-rotate(200deg) brightness(94%) contrast(95%);

    background-position: 15px 5px;
    background-size: 85%;
    background-repeat: no-repeat;

    width: 200px;
    height: 45px;
}

/* Randers farver */

a
{
    color: #2f469c; /* Mørkere: #243576 */
}
    a:focus
    {
        color: #2f469c;
    }
    a:hover
    {
        color: #6f7eb4;
    }

button, input[type='submit']
{
    background-color: #2f469c; /* Mørkere: #243576 */
}
    button:focus, input[type='submit']:focus
    {
        background-color: #2f469c;
    }
    button:hover, input[type='submit']:hover
    {
        background-color: #6f7eb4;
    }